@charset "utf-8";
/* CSS Document */

@font-face{
font-family:"Brandon Grotesque W02_R2";
src:url("font/ProximaNovaReg.ttf")
}


@font-face{
font-family:"Brandon Grotesque W02";
src:url("font/GOTHIC.ttf") 
}